@import url("https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  color: black;
  font-family: "Tomorrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(
    to bottom,
    #f9f6f2,
    #f8d7b4,
    #f4a871,
    #f08142,
    #e87f5a
  );
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #4b4b4b;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
